<div class="container body-content">
    <div class="row">
        <div class="col-lg-11">
            Just Some stuff
        </div>
        <div class="col-lg-1">
            Just some stuff to be able to see what's what and how wide this is.
        </div>
    </div>
</div>
